:root {
  --text-color: #757575;
  --text-color-accent: #212121;
  --color-logo-accent: #2196f3;
  --text-color-hover: #2196f3;
  --svg-color: #afb1b8;
  --text-font: Roboto, sens-sarif;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-accent);
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}

/*=============== SOCIAL-LINK ===============*/
.social-links {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--svg-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon {
  margin: 0 auto;
}
/*=============== SOCIAL-LINK ===============*/

/*=============== HEADER ===============*/
.header {
  border-bottom: 1px solid #ececec;
}
.container-header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo span {
  color: var(--color-logo-accent);
}

.menu {
  display: flex;
  column-gap: 50px;
}

.menu-item {
  position: relative;
}

.menu-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-accent);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--text-color-hover);
}

.menu-active.menu-link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(0, -100%);

  width: 100%;
  height: 4px;

  background: var(--text-color-hover);
  border-radius: 2px;
}

.head-address {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
}

.head-address-item {
  display: flex;
  align-items: center;
}

.head-address-icon {
  margin-right: 10px;
}

.head-address-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  fill: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-address-link:hover,
.head-address-link:focus {
  color: var(--text-color-hover);
  fill: var(--text-color-hover);
}

/* =============== /HEADER =============== */

/*--------------------------------INDEX MAIN--------------------------------*/

/*=============== HERO ===============*/
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-herosq.jpg);
  background-size: cover;
}

.hero-title {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 35px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  background-color: var(--color-logo-accent);
  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/*=============== /HERO ===============*/

/*=============== ABOUT ===============*/
.skills {
  display: flex;
  column-gap: 30px;
}

.skill {
  width: calc((100% - 90px) / 4);
}

.skill-icon-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.skill-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-accent);
}

.skill-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*=============== /ABOUT ===============*/

/*=============== OUR WORKS ===============*/
.section.our-works {
  padding-top: 0;
}

.works {
  display: flex;
  column-gap: 30px;
}

.work {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.work-img {
  width: 100%;
  height: auto;
}

.work-img-caption {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/*=============== /OUR WORKS ===============*/

/*=============== COMAND-STUDIO ===============*/
.section.command-studio {
  background-color: #f5f4fa;
}

.command {
  display: flex;
  column-gap: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.command-item {
  width: calc((100% - 90px) / 4);
  padding-bottom: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.command-img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.command-item-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--text-color-accent);
}

.command-item-text {
  margin-bottom: 16px;
}

.social-link-comand:hover,
.social-link-comand:focus {
  background-color: var(--text-color-hover);
  border-radius: 50%;
  fill: #ffffff;
}

/*=============== /COMAND-STUDIO ===============*/

/*=============== LOGO-CLIENT ===============*/
.logo-clients {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.logo-client-link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 170px;
  height: 92px;
  padding-top: 16px;
  padding-bottom: 16px;

  text-align: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--svg-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-client-link:hover,
.logo-client-link:focus {
  border-color: var(--text-color-hover);
  fill: var(--text-color-hover);
}

/*=============== /LOGO-CLIENT ===============*/

/*-------------------------------- /INDEX MAIN --------------------------------*/

/*-------------------------------- PORTFOLIO MAIN -----------------------------*/
/*============== FILTERS =============*/
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}

.filter-button {
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--text-color-accent);

  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*============== /FILTERS =============*/

/*============== PORTFOLIO ==============*/
.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-body-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  width: 100%;
  height: auto;
}

.portfolio-hidden-text {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  overflow: auto;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.portfolio-body-img:hover .portfolio-hidden-text {
  transform: translateY(0);
}

.portfolio-link:focus .portfolio-hidden-text {
  transform: translateY(0);
}

.porfolio-text-body {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-accent);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*============== /PORTFOLIO ==============*/
/*-------------------------------- PORTFOLIO MAIN -----------------------------*/

/*------ ------------------------- FOOTER -------------------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.container-footer {
  display: flex;
}

.address-body {
  margin-right: 70px;
}

.logo.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;

  color: #ffffff;
}
.address {
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
}

.address-text {
  margin-bottom: 9px;
}

.address-link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.communication-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link:hover,
.address-link:focus {
  color: rgb(255, 255, 255);
}

.social-block-footer {
  padding-top: 12px;
  margin-right: 93px;
}

.social-block-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.social-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--text-color-hover);
}

.mailing-form-body {
  padding-top: 12px;
}

.mailing-form-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.mailing-form {
  display: flex;
  align-items: center;
}

.mailing-form-email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
}
.mailing-form-email::placeholder {
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.mailing-form-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.mailing-form-button-text {
  margin-right: 10px;
}

.mailing-form-button-img {
  fill: #ffffff;
}

/*------ ------------------------- MODAL WINDOW -------------------------*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-window-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close:hover,
.modal-window-close:focus {
  fill: var(--text-color-hover);
}

/*============== MODAL-FORM ==============*/
.modal-form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color-accent);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-lable {
  display: flex;
  flex-direction: column;
}

.modal-form-lable-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.modal-form-wraper {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: var(--text-color-accent);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--text-color-hover);
}

.modal-form-lable-message {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-lable-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-lable-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-chek-desc {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

.modal-form-chek-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--text-color-accent);
  border-radius: 2px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-chek:checked + .modal-form-chek-desc::before {
  background-image: url(../images/icon_check.svg);
  background-size: contain;
  border: 2px solid var(--text-color-hover);
}

.modal-form-privacy-link {
  color: var(--text-color-hover);
}

.modal-form-buttone {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-buttone:hover,
.modal-form-buttone:focus {
  background-color: #188ce8;
}
/*============== /MODAL-FORM ==============*/

/*------ ------------------------- /MODAL WINDOW -------------------------*/
