.address-block {
    font-style: normal;
    color: #ffffff;
}

.address__link {
    @include font(500, 12px, 14px, 0.02em);
    //@include font(500, 14px, 16px, 0.02em);
    color: var(--text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__text {
    @include font(400, 14px, 24px, 0.03em);
}

@media screen and (min-width:1200px) {
    .address__link {
        @include font(500, 14px, 16px, 0.02em);
    }

}