.logo-clients {
    @extend %align-horizontel;
    gap: 30px;
    flex-wrap: wrap;
}

.logo-clients__item {
    width: calc((100% - 30px) / 2);
    height: 92px;
}

.logo-client__link {
    @extend %align-center;

    padding-top: 16px;
    padding-bottom: 16px;

    text-align: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: var(--svg-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--text-color-hover);
        fill: var(--text-color-hover);
    }
}

@media screen and (min-width: 768px) {
    .logo-clients__item {
        width: calc((100% - 60px) / 3);
    }
}

@media screen and (min-width: 1200px) {
    .logo-clients__item {
        width: calc((100% - 150px) / 6);
    }
}