.command__item {
    padding-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}

.command__img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.command__name {
    margin-bottom: 10px;
    text-align: center;

    @include font(500, 16px, 19px, 0.03em);
    color: var(--text-color-accent);
}

.command__text {
    margin-bottom: 16px;
    text-align: center;

    @include font(400, 16px, 19px, 0.03em);
}

.comand__social_decor {
    fill: var(--svg-color);

    &:hover,
    &:focus {
        background-color: var(--text-color-hover);
        border-radius: 50%;
        fill: #ffffff;
    }
}

@media screen and (max-width: 767px) {
    .command__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 767px) {

    .command {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    .command__item {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .command__item {
        width: calc((100% - 90px) / 4);
    }
}