.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__lable {
    display: flex;
    flex-direction: column;
}

.modal-form__text {
    margin-bottom: 4px;
    @include font(400, 12px, 14px, 0.01em);
    color: var(--text-color);
}

.modal-form__wraper {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border: 1px solid #2196f3;
    }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    fill: var(--text-color-accent);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:focus+& {
        fill: var(--text-color-hover);
    }
}

.modal-form__message {
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border: 1px solid #2196f3;
    }

    &::placeholder {
        @include font(400, 12px, 14px, 0.01em);

        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form__chek-desc {
    @extend %lign-vertical;
    margin-bottom: 30px;

    @include font(400, 12px, 14px, 0.03em);

    color: var(--text-color);

    &::before {
        content: '';
        display: block;
        width: 16px;
        height: 15px;
        margin-right: 7px;
        border: 2px solid var(--text-color-accent);
        border-radius: 2px;
        cursor: pointer;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-form__chek:checked+&::before {
        background-image: url(../images/icon_check.svg);
        background-size: contain;
        border: 2px solid var(--text-color-hover);
    }
}

.modal-form__link {
    @include font(400, 12px, 14px, 0.03em);
    color: var(--text-color-hover);
}

.modal-form__button {
    align-self: center;
    width: 200px;
    height: 50px;
}


@media screen and (min-width: 1200px) {
    .modal-form__chek-desc {
        @include font(400, 14px, 24px, 0.03em);
    }

    .modal-form__link {
        @include font(400, 14px, 24px, 0.03em);
    }
}


// .modal-form {
//     display: flex;
//     flex-direction: column;
// }

// .modal-form__lable {
//     display: flex;
//     flex-direction: column;
// }

// .modal-form__text {
//     margin-bottom: 4px;
//     @include font(400, 12px, 14px, 0.01em);
//     color: var(--text-color);
// }

// .modal-form__wraper {
//     position: relative;
//     display: block;
//     width: 100%;
//     margin-bottom: 10px;
// }

// .modal-form__input {
//     width: 100%;
//     height: 40px;
//     padding-top: 12px;
//     padding-bottom: 12px;
//     padding-right: 12px;
//     padding-left: 42px;

//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:focus {
//         outline: none;
//         border: 1px solid #2196f3;
//     }
// }

// .modal-form__icon {
//     position: absolute;
//     top: 50%;
//     left: 12px;
//     transform: translateY(-50%);

//     fill: var(--text-color-accent);
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .modal-form__input:focus+& {
//         fill: var(--text-color-hover);
//     }
// }

// .modal-form__message {
//     height: 120px;
//     margin-bottom: 20px;
//     padding: 12px 16px;

//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     resize: none;
//     transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:focus {
//         outline: none;
//         border: 1px solid #2196f3;
//     }

//     &::placeholder {
//         @include font(400, 12px, 14px, 0.01em);

//         color: rgba(117, 117, 117, 0.5);
//     }
// }

// .modal-form__chek-desc {
//     @extend %lign-vertical;
//     margin-bottom: 30px;

//     @include font(400, 14px, 24px, 0.03em);

//     color: var(--text-color);

//     &::before {
//         content: '';
//         display: block;
//         width: 16px;
//         height: 15px;
//         margin-right: 7px;
//         border: 2px solid var(--text-color-accent);
//         border-radius: 2px;
//         cursor: pointer;
//         transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
//             background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     .modal-form__chek:checked+&::before {
//         background-image: url(../images/icon_check.svg);
//         background-size: contain;
//         border: 2px solid var(--text-color-hover);
//     }

// }

// .modal-form__link {
//     @include font(400, 14px, 24px, 0.03em);
//     color: var(--text-color-hover);
// }

// .modal-form__button {
//     align-self: center;
//     width: 200px;
//     height: 50px;
// }