.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 450px;
    width: 100%;
    height: 609px;
    transform: translate(-50%, -50%);
    padding: 40px;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-window__close {
    position: absolute;
    top: 8px;
    right: 8px;

    @extend %align-center;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--text-color-hover);
    }
}

.modal-window__title {
    margin-bottom: 12px;

    @include font(700, 20px, 30px, 0.03em);
    text-align: center;

    color: var(--text-color-accent);
}

@media screen and (min-width: 1200px) {
    .modal-window {
        max-width: 528px;
    }

    .modal-window__title {
        @include font(700, 20px, 23px, 0.03em);
    }
}