.skills__icon-body {
    @extend %align-center;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;

    background: #f5f4fa;
    border-radius: 4px;
}

.skills__title {
    margin-bottom: 10px;

    @include font(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    color: var(--text-color-accent);
}

.skills__text {
    @include font(400, 14px, 24px, 0.03em);
}

@media screen and (max-width: 767px) {
    .skills__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .skills__title {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .skills {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    .skills__item {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .skills__item {
        width: calc((100% - 90px) / 4);
    }
}