.title {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 50px;

    @include font(700, 28px, 33px, 0.03em);
    text-align: center;
    color: var(--text-color-accent);
}


@media screen and (min-width: 1200px) {
    .title {
        @include font(700, 36px, 42px, 0.03em);
    }
}