:root {
    --text-color: #757575;
    --text-color-accent: #212121;
    --color-logo-accent: #2196f3;
    --text-color-hover: #2196f3;
    --svg-color: #afb1b8;
    --text-font: Roboto, sens-sarif;
}